<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <div class="text-center">
        <div id="map" style='width: 100%; height: 480px;'></div>
      </div>
    </div>
    <div class="col-md-3">
      <ul>
        <li>
          <button id="refreshLocations" style="width: 100%; height: 40px">Actualizar Ubicaciones <i class="fa fa-refresh" aria-hidden="true"></i></button>
        </li>
        <li>
          <div class="pull-right" style="margin: 10px 10px;">
            <label class="text_white">Mensajero:</label>
            <%= collection_select(:user, :name, @courriers, :name, :name, {prompt: true},
            {:onchange => "mapByCourrier()"} )%>
          </div>
        </li>
        <li>
          <button id="showRequestedLocations" style="width: 100%; height: 40px">Mostrar ubicaciones solicitadas<i class="fa fa-refresh" aria-hidden="true"></i></button>
          <div class="pull-right" style="margin: 10px 10px;">
            <label class="text_white">Mostrar ubicaciones solicitadas a:</label>
            <%= collection_select(:courrier, :name, @courriers, :name, :name, {prompt: true},
            {:onchange => "requestedCourrierRoute()"} )%>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">

$(function(){
  intializeMap();
});

$('#refreshLocations').click(function() {
    location.reload();
});

$('#showRequestedLocations').click(function() {
    requestedCourrierRoute()
});

function intializeMap(){
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
}

function intializeMapByCourrier(data){
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(data);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
}

function mapByCourrier(){

  $.ajax({
          url: '/maps/mapByCourrier/',
          type: 'POST',
          data: {
            courrier_name: $('#user_name').val()
          },
          success: function(data) {
            var d = data;
            intializeMapByCourrier(data)
          },
          error: function(data) {
            console.log(data);
          }
        });
}

function intializeMapRequestedRoute(data){
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(data);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
}

function requestedCourrierRoute(){
  console.error($('#courrier_name').val())

  $.ajax({
          url: '/maps/requestedCourrierRoute/',
          type: 'POST',
          data: {
            courrier_name: $('#courrier_name').val()
          },
          success: function(data) {
            var d = data;
            console.log("esto"+ d);
            intializeMapRequestedRoute(data)
          },
          error: function(data) {
            console.log(data);
          }
        });
}

</script>

