<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h1 class="title">Devoluciones</h1>
        <hr style="width: 100%; border-top: 1px solid #ad3f3f;">
      </div>
    </div>
  </div>

 devolution_reason             :integer
#  observation                   :text
#  delivery_order_internal_guide :integer
#  user_id                       :integer
#  created_at                    :datetime         not null
#  updated_at

  <% if @devolutions.count != 0 %>
  <div class="row">
    <div class="container-fluid">
      <div class="table-responsive">
      <table class="table table-striped table-inverse dataTableBackground" id="devolutionsTable" >
        <thead>
        <tr >
          <th>Guia Interna</th>
          <th>Razon Devolucion</th>
          <th>Observacion</th>
          <th>Fecha Devolucion </th>
        </tr>
        </thead>
        <% @devolutions.each do |order| %>
        <tr>
          <td><%= order.delivery_order_internal_guide %></td>
          <td><%= order.devolution_reason %></td>
          <td><%= order.observation %></td>
          <td><%= order.created_at %></td>
        </tr>
        <% end %>
      </table>
      </div>
    </div>
  </div>
  <%end%>
</div>

<script type="text/javascript">
  $(document).ready(function() {
        $('#devolutionsTable').DataTable({
          "language":{
            "sProcessing":     "Procesando...",
            "sLengthMenu":     "Mostrar _MENU_ registros",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Ningún dato disponible en esta tabla",
            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":    "",
            "sSearch":         "Buscar:",
            "sUrl":            "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":     "Último",
                "sNext":     "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
          }
        });
        $('.notImage').click(false);
    } );
</script>