<p>Hola <%= @resource.email %>!</p>

<p>Alguien a solicitado un link para cambiar tu contrase単a. Puedes hacerlo en el siguiente link.</p>

<p><%= link_to 'Cambiar mi contrase単a', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no lo solicitaste, por favor ignore este email.</p>
<p>Recuerde cambiar frecuentemente su contrase単a.</p>
<p>Tu contrase単a no combiara hasta que accedas a el link de arriba y crees una nueva.</p>
